@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Funnel+Display:wght@300..800&family=Kolker+Brush&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Wittgenstein:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap');

/*NAV BAR*/

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    background-color: rgb(249, 249, 255);
    font-family: 'Funnel Display', sans-serif;
    line-height: 1.6;
    padding:0;
    margin:0;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    border-bottom: 2px solid black;
    background-color: #e8f5f8;
    flex-wrap:wrap;
}
nav ul{
    list-style: none;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:20px;
}
nav ul li img{
    width:150px;
    height:auto;
}

nav ul li{
    padding: 5px 10px;
}
.menu {
    display:inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    font-family:'Funnel Display', sans-serif;
    font-size: 20px;
    border-radius:10px;
    background-color: #b2e6f3;
    transition: color 0.5s ease;
}
.menu:hover{
    background-color:#5b8691;
    border: 2px ;
    color: black;
    border-radius: 10px;
}
.social{
    display:flex;
    align-items: center;
}
.social li{
    display:flex;
    justify-content: flex-end;

   
}
.social a img{
    width:25px;
    height:auto;
    margin: 0 5px;
}
.btn{
    text-decoration: none;
    padding: 6px 12px;
    color: black;
    font-family:'Funnel Display', sans-serif;
    font-size: 20px;
    border-radius:10px;
    background-color: #b2e6f3;
    transition: color 0.5s ease;
}
.btn:hover{
    background-color:#5b8691;
    border: 2px ;
    color: black;
    border-radius: 10px;
}

.menu, .btn{
    padding: 6px 12px;
}

/*END OF NAV BAR*/

/*SECTION1*/
body{
    background-color: rgb(249, 249, 255);
}
section{
    max-width: 100%;
    margin:0 auto;
}

section:nth-child(2){
    display:flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding:100px;
    gap:20px;
}
section:nth-child(2) img{
    width: 500px;
    height: auto;
    padding:0;
}
section:nth-child(2) div{
    display: flex;
    flex-direction: column;
    max-width:700px;
}
section:nth-child(2) h2{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    padding: 20px;
    font-style: italic;
    border: 2.5px solid black;
    border-radius: 100px;
    width: fit-content;
    text-align: center;
    background-color: #FDFFB6;
    
}
section:nth-child(2) p{
    font-family: 'funnel Display', sans-serif;
    font-size: 20px;
    text-align: justify;
    margin-top: 50px;
}
section:nth-child(2) span{
    color: #a16ee4;
}
section:nth-child(2) hr{
    border: 1px solid black;
    margin: 10px 0;
}
section:nth-child(2) ul{
    display:flex;
    flex-direction: column;;
    list-style:none;
    padding:0;
    margin:0;
}
section:nth-child(2) li{
    font-family:'funnel Display', sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding:0px 16px;
    width:fit-content;
    height: 80px;
}
section:nth-child(2) li img{
    width: 50px;
    height:auto;
    align-items: center;
}

/*END OF SECTION1*/

/*SECTION2*/
section:nth-child(3){
    display:flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 30px 0;
}
.edu {
    display: flex;
    flex-direction: column;
    align-items: justify;
    max-width: 500px;
}
.edu h3{
    font-family: 'funnel Display', sans-serif;
    font-size: 32px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 60px;
    background-color: #9FAFFF;
    width: fit-content;
    text-align: center;
}
.edu li{
    list-style:none;
    font-family: 'funnel Display', sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    color:#a16ee4;
}
.edu p{
    font-family: 'funnel Display', sans-serif;
    font-size: 18px;
    padding: 10px;
    text-align: justify;
}
.edu span{
    font-weight: bold;
    font-size: 20px;
}

.skills{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 20px;
}
.skills h3{
    font-family: 'funnel Display', sans-serif;
    font-size: 32px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 60px;
    background-color: #ffc3fe;
    width: fit-content;
    text-align: center;
    margin:0;
}
.skills ul{
    display:flex;
    flex-wrap:wrap;
    gap: 10px;
    padding: 0;
    list-style: none;
}
.skills li{
    font-family: 'funnel Display', sans-serif;
    font-size: 20px;
    padding: 10px 20px;
    color:#000000;
    border-radius: 25px;
    border: 1px solid #000000;
}

.skills-languages{
    display:flex;
    flex-direction: column;
    gap: 20px;
    max-width:100%;
}

.languages{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 20px;
}
.languages h3{
    font-family: 'funnel Display', sans-serif;
    font-size: 32px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 60px;
    background-color: #CAFFBF ;
    width: fit-content;
    text-align: center;
    margin:0;
}
.languages ul{
    display:flex;
    flex-wrap:nowrap;
    gap: 10px;
    padding: 0;
    list-style: none;
}
.languages li{
    font-family: 'funnel Display', sans-serif;
    font-size: 20px;
    padding: 10px 20px;
    color:#000000;
    border-radius: 25px;
    border: 1px solid #000000;
}

/*END OF SECTION2*/

/*SECTION3*/
section:nth-child(4){
    display:flex;
    flex-direction: column;
    text-align: justify;
    padding: 30px 18%;
    max-width: 100%;
    margin:0 auto;
}
section:nth-child(4) h3{
    font-family: 'funnel Display', sans-serif;
    font-size: 32px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 60px;
    background-color: #FFABAB;
    width: fit-content;
    text-align: center;
    margin:0 auto 30px;
    align-self: flex-start;
}
section:nth-child(4) ul{
    list-style: none;
    padding:0;
    margin:0;
}
.experience{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    gap:80px;
    width:100%;
}
.left, .right{
    flex:1;
    box-sizing: border-box; 
}
.item{
    margin-bottom: 20px;
}
.item h4{
    font-family: 'funnel Display', sans-serif;
    font-size: 24px;
    color:#a16ee4;
    margin-bottom: 5px;
}
section:nth-child(4) p{
    font-family: 'funnel Display', sans-serif;
    font-size: 18px;
    padding: 10px 0;
    text-align: justify;
}
section:nth-child(4) span{
    font-weight: bold;
    font-size: 20px;
}
